@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Manrope:wght@400;700;800&family=Roboto+Slab&display=swap');


* {
  font-family: 'Manrope';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  padding: 68px;
  width: 100%;
}