:root {
  --support-font: "DM Sans";
  --color-header-text: rgba(72, 84, 112, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background-color: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1785px;
  padding: 0 15px;
  margin: 0 auto;
}
